<div id="tabs">
    <ul>
        <li><a href="#tabs-1" data-show-tab="@Url.Action("Index","TabOne")" data-container-id="tabs-1">Nunc tincidunt</a></li>
        <li><a href="#tabs-2" data-show-tab="@Url.Action("Index","TabTwo")" data-container-id="tabs-2">Proin dolor</a></li>
        <li><a href="#tabs-3" data-show-tab="@Url.Action("Index","TabThree")" data-container-id="tabs-3">Aenean lacinia</a></li>
    </ul>
    <div id="tabs-1" >
       
        
    </div>
    <div id="tabs-2">
        
    </div>
    <div id="tabs-3">
        
    </div>
</div>